doctype html
html
	head
		meta(name="viewport", content="initial-scale=1, maximun-scale=1, user-scalable=no, width=device-width")

		//- Ionic CSS
		link(href="../lib/ionic/css/ionic.css", rel="stylesheet")

	body

		div(ng-app="mindly")
			ion-nav-view

		//- Ionic JS
		script(src="../lib/ionic/js/ionic.bundle.js")

		//- Cordova JS !!! FALTA INCLUIRLO EN EL PATH !!!
			script(src="cordova.js")

		//- MindlyApp
		script(src='../js/app.js')

		//- Services 

		//- Controllers

		//- Directives