div(class="new-project-container")
	form(id="new-project-form", ng-sumbit="processForm()")
		ion-nav-view
		//- div(id="new-project-form-views" ui-view)
		//- button(type="submit", class="button button-block button-dark")  