div(ng-show="!tasks", class="full-page-msg") Agregar un nuevo proyecto 
	//- a(href='/api/mindly/project/step1/')
	i(class="icon ion-plus-circled")
div(ng-show="tasks") 
	div(class="list")
		a(ng-repeat="task in tasks", class="item item-avatar item-icon-right", href="#/menu/{{ task.task_id }}")
			img(src="../img/photo.jpg")
			h2 {{ task.name }}
			p {{ task.description }}
			h5 {{ task.project }} 
			h5 Pr. {{ task.priority }} 
			i(class="icon ion-chevron-right icon-accessory")

