
<div class="row row-center">
  <div class="col">
    <div class="list list-inset">
      <label class="item item-input">
        <input type="text" placeholder="Start Date" ng-model="projectData.startDate"/>
      </label>
      <label class="item item-input">
        <input type="text" placeholder="End Date" ng-model="projectData.endDDate"/>
      </label>
      <button ng-click="changeNumStages()" class="button button-block button-dark">{{ projectData.numberOfStages }} Stages</button>
    </div>
  </div>
</div>
<div class="row row-bottom">
  <div class="col">				
    <button ui-sref="menu.header.new-project.step1" class="button button-block button-positive">Back</button>
  </div>
  <div class="col">				
    <button ui-sref="menu.header.new-project.step3" class="button button-block button-positive">Next</button>
  </div>
</div>