
<div class="list list-inset">
  <label class="item item-input"><i class="icon ion-search placeholder-icon"></i>
    <input type="text" placeholder="Search Partner"/>
  </label>
</div>
<div class="list">
  <div class="item item-thumbnail-left item-icon-right"><img ng-src="../../../img/ionic.png"/>
    <h3>Your Mom</h3><i ng-click="toggleMember(1)" ng-class="{'ion-plus': true, 'ion-minus': false}" class="icon"></i>
  </div>
  <div class="item item-thumbnail-left item-icon-right"><img ng-src="../../../img/ionic.png"/>
    <h3>Karla Gutierrez</h3><i ng-click="toggleMember(2)" ng-class="{'ion-plus': true, 'ion-minus': false}" class="icon"></i>
  </div>
  <div class="item item-thumbnail-left item-icon-right"><img ng-src="../../../img/ionic.png"/>
    <h3>Brandon Meza</h3><i ng-click="toggleMember(3)" ng-class="{'ion-plus': true, 'ion-minus': false}" class="icon"></i>
  </div>
</div>
<div class="row row-bottom">
  <div class="col">				
    <button ui-sref="menu.header.new-project.step2" class="button button-block button-positive">Back</button>
  </div>
  <div class="col">				
    <button class="button button-block button-positive">Submit</button>
  </div>
</div>